set_property PACKAGE_PIN J18 [get_ports txd]
set_property PACKAGE_PIN A18 [get_ports rst]
set_property IOSTANDARD LVCMOS33 [get_ports rst]
set_property IOSTANDARD LVCMOS33 [get_ports rxd]
set_property IOSTANDARD LVCMOS33 [get_ports txd]

set_property BITSTREAM.GENERAL.COMPRESS TRUE [current_design]
set_property BITSTREAM.CONFIG.CONFIGRATE 33 [current_design]
set_property CONFIG_MODE SPIx4 [current_design]

set_property PACKAGE_PIN A17 [get_ports led0]
set_property IOSTANDARD LVCMOS33 [get_ports led0]

set_property PACKAGE_PIN J17 [get_ports rxd]

set_property IOSTANDARD LVCMOS33 [get_ports ZOPCDU]
set_property IOSTANDARD LVCMOS33 [get_ports CDUCLK]
set_property IOSTANDARD LVCMOS33 [get_ports cdufal_in]
set_property IOSTANDARD LVCMOS33 [get_ports CDUXDM]
set_property IOSTANDARD LVCMOS33 [get_ports CDUXDP]
set_property IOSTANDARD LVCMOS33 [get_ports cduxm_in]
set_property IOSTANDARD LVCMOS33 [get_ports cduxp_in]
set_property IOSTANDARD LVCMOS33 [get_ports CDUYDM]
set_property IOSTANDARD LVCMOS33 [get_ports CDUYDP]
set_property IOSTANDARD LVCMOS33 [get_ports cduym_in]
set_property IOSTANDARD LVCMOS33 [get_ports cduyp_in]
set_property IOSTANDARD LVCMOS33 [get_ports CDUZDM]
set_property IOSTANDARD LVCMOS33 [get_ports CDUZDP]
set_property IOSTANDARD LVCMOS33 [get_ports cduzm_in]
set_property IOSTANDARD LVCMOS33 [get_ports cduzp_in]
set_property IOSTANDARD LVCMOS33 [get_ports COARSE]
set_property IOSTANDARD LVCMOS33 [get_ports ctlsat_in]
set_property IOSTANDARD LVCMOS33 [get_ports ENERIM]
set_property IOSTANDARD LVCMOS33 [get_ports ENEROP]
set_property IOSTANDARD LVCMOS33 [get_ports gcapcl_in]
set_property IOSTANDARD LVCMOS33 [get_ports imucag_in]
set_property IOSTANDARD LVCMOS33 [get_ports imufal_in]
set_property IOSTANDARD LVCMOS33 [get_ports imuopr_in]
set_property IOSTANDARD LVCMOS33 [get_ports ISSTDC]
set_property IOSTANDARD LVCMOS33 [get_ports isstor_in]
set_property IOSTANDARD LVCMOS33 [get_ports n25KPPS]
set_property IOSTANDARD LVCMOS33 [get_ports n800RST]
set_property IOSTANDARD LVCMOS33 [get_ports n800SET]
set_property IOSTANDARD LVCMOS33 [get_ports n3200A]
set_property IOSTANDARD LVCMOS33 [get_ports n3200B]
set_property IOSTANDARD LVCMOS33 [get_ports opcdfl_in]
set_property IOSTANDARD LVCMOS33 [get_ports S4BTAK]
set_property IOSTANDARD LVCMOS33 [get_ports shaftm_in]
set_property IOSTANDARD LVCMOS33 [get_ports shaftp_in]
set_property IOSTANDARD LVCMOS33 [get_ports SHFTDM]
set_property IOSTANDARD LVCMOS33 [get_ports SHFTDP]
set_property IOSTANDARD LVCMOS33 [get_ports tempin_in]
set_property IOSTANDARD LVCMOS33 [get_ports TRNDM]
set_property IOSTANDARD LVCMOS33 [get_ports TRNDP]
set_property IOSTANDARD LVCMOS33 [get_ports trnm_in]
set_property IOSTANDARD LVCMOS33 [get_ports trnp_in]
set_property IOSTANDARD LVCMOS33 [get_ports TVCNAB]
set_property IOSTANDARD LVCMOS33 [get_ports ZIMCDU]
set_property PACKAGE_PIN M3 [get_ports S4BTAK]
set_property PACKAGE_PIN L3 [get_ports ENEROP]
set_property PACKAGE_PIN A16 [get_ports cdufal_in]
set_property PACKAGE_PIN K3 [get_ports opcdfl_in]
set_property PACKAGE_PIN C15 [get_ports gcapcl_in]
set_property PACKAGE_PIN H1 [get_ports ctlsat_in]
set_property PACKAGE_PIN A15 [get_ports imuopr_in]
set_property PACKAGE_PIN B15 [get_ports ENERIM]
set_property PACKAGE_PIN A14 [get_ports ZIMCDU]
set_property PACKAGE_PIN J3 [get_ports ZOPCDU]
set_property PACKAGE_PIN J1 [get_ports TVCNAB]
set_property PACKAGE_PIN K2 [get_ports COARSE]
set_property PACKAGE_PIN L1 [get_ports cduxm_in]
set_property PACKAGE_PIN L2 [get_ports cduzp_in]
set_property PACKAGE_PIN N3 [get_ports CDUCLK]
set_property PACKAGE_PIN P3 [get_ports imufal_in]
set_property PACKAGE_PIN M2 [get_ports imucag_in]
set_property PACKAGE_PIN N1 [get_ports tempin_in]
set_property PACKAGE_PIN T3 [get_ports n800RST]
set_property PACKAGE_PIN R3 [get_ports n3200B]
set_property PACKAGE_PIN V8 [get_ports cduzm_in]
set_property PACKAGE_PIN U8 [get_ports cduyp_in]
set_property PACKAGE_PIN W7 [get_ports cduym_in]
set_property PACKAGE_PIN U7 [get_ports trnp_in]
set_property PACKAGE_PIN U3 [get_ports trnm_in]
set_property PACKAGE_PIN W6 [get_ports shaftp_in]
set_property PACKAGE_PIN U2 [get_ports shaftm_in]
set_property PACKAGE_PIN U5 [get_ports cduxp_in]
set_property PACKAGE_PIN W4 [get_ports ISSTDC]
set_property PACKAGE_PIN V5 [get_ports TRNDP]
set_property PACKAGE_PIN U4 [get_ports TRNDM]
set_property PACKAGE_PIN V4 [get_ports SHFTDP]
set_property PACKAGE_PIN W5 [get_ports SHFTDM]
set_property PACKAGE_PIN V3 [get_ports CDUXDP]
set_property PACKAGE_PIN W3 [get_ports CDUXDM]
set_property PACKAGE_PIN V2 [get_ports CDUYDP]
set_property PACKAGE_PIN W2 [get_ports CDUYDM]
set_property PACKAGE_PIN U1 [get_ports CDUZDP]
set_property PACKAGE_PIN T2 [get_ports CDUZDM]
set_property PACKAGE_PIN T1 [get_ports n25KPPS]
set_property PACKAGE_PIN R2 [get_ports isstor_in]
set_property PACKAGE_PIN N2 [get_ports n800SET]
set_property PACKAGE_PIN P1 [get_ports n3200A]

set_property IOSTANDARD LVCMOS33 [get_ports a15_n]
set_property IOSTANDARD LVCMOS33 [get_ports a15_p]
set_property IOSTANDARD LVCMOS33 [get_ports a16_n]
set_property IOSTANDARD LVCMOS33 [get_ports a16_p]
set_property PACKAGE_PIN G2 [get_ports a15_n]
